@import url("https://fonts.googleapis.com/css?family=Arbutus+Slab&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arbutus Slab", serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  background-color: #f3f3f3;
}

header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-bar {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: 1px solid rgb(12, 11, 11);
}

.nav-brand a ion-icon {
  font-size: 3rem;
}

.menu-icon ion-icon {
  font-size: 3.5rem;
  color: black;
  cursor: pointer;
}

.close ion-icon {
  color: #eb648c;
}

.nav-list {
  width: 25rem;
  height: 100vh;
  background-color: #d7d4ed;
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all 650ms ease-in-out;
}

.nav-list.active {
  right: 0;
}

.close {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.nav-item {
  margin: 1.5rem 0;
}

.nav-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
}

.intro {
  background-image: url("color.jpg");
  width: 100%;
  height: 85vh;
  background-size: cover;
}

.intro-wrapper {
  width: 80%;
  margin: 0 auto;
}

.anshul img {
  width: 40vh;
  margin-left: 15px;
}

.intro-content {
  text-align: center;
  margin-top: 10px;
}